<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p class="<%= right_wrong %>"><%= message %></p>
    <div id="game">
      <form action="/">
        <input name="firstAddend" value="<%= firstAddend %>"/>
        +
        <input name="secondAddend" value="<%= secondAddend %>"/>
        =
        <input name="answer" type="text"/>
        <input type="submit"/>
      </form>
    </div>
  </body>
</html>
